@tailwind base;
@tailwind components;
@tailwind utilities;

marquee {
	animation: marquee 20s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
